body {
    background: url(https://s.hswstatic.com/gif/2f67fed30fffd6972eafe47e1225c3cc-2018-05-03-brainstuff-egyptian-dinosaur.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.jumbotron,
.body {
    background-color: rgba(255,255,255,0.6);
}

